@import "../../vars.css";


.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 49px 0 10% 10%;
    z-index: 1;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: red;
    z-index: 1;
}

.title{
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    /* background: linear-gradient(90deg,
    rgba(255,255,255,1)70%,
    rgba(255,255,255,0)120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;  */

}

.description{
    font-size: 30px;
    font-family: var(--roboto);
    margin-bottom: 52px;
  
}

.description:hover{
    opacity: 0; /* Initially hide the text */
    animation: fadeIn 0.5s ease forwards; 
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.contactBtn{
    text-decoration: none;
    /* background-color: var(--color-primary); */
    background-color: #FDF5DF;
    color: red;
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0rgba(0,0,0,25);
    transition: transform 0.3s ease;
}
.contactBtn:hover{
    animation: bounce 0.5s;
}
@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  

.myImg{
    border-radius: 50%; 
        width: 30%;
        height: 30%;
       margin-bottom: 80px;
       margin-right: 20%;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

}

@keyframes floating{
    0%{
        transform: translate(0,0px);
    }
    50%{
        transform: translate(0,10px);
    }
    100%{
        transform: translate(0,-0px);
    }
}

/* .topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top:-128px;
    left: -10vw;
    border-radius: 764px;
    background-color: rgba(25,55,109,0.7);
    filter: blur(100px);
    z-index: 0;
    

}
.bottomBlur{
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 250px;
    min-height: 350px;
    top:346px;
    right: -10vw;
    border-radius: 764px;
    background-color: rgba(25,55,109,0.7);
    filter: blur(100px);
    z-index: 0;
    

} */


@media screen and (max-width:830px){
    .container{
        flex-direction: column-reverse;

    }
    .content{
        align-items: center;
    }
    .myImg{
        margin: 0 10px 0 0;
    }
}