:root{
    /*colours*/
    --color-text:red;
    --color-primary:#576cbc;
    --color-secondary:#19076d;
    --color-dark:#0b2447;
    --color-bg:#04152d;

    /* fonts */
    --font-roboto:"Roboto";


}